# root
.idea
.DS_Store
.env
main.py

# -----------------------------------------------------------------------------

# backup
# ...

# -----------------------------------------------------------------------------

# space_ckeck
space_check/

# -----------------------------------------------------------------------------

# SpaceWeb_doc
SpaceWeb_doc/key.key
SpaceWeb_doc/.env.enc
SpaceWeb_doc/archive/

# -----------------------------------------------------------------------------

# FirstVDS_doc
FirstVDS_doc/
